.chat-group-form
  %h1 新規チャットグループ
  = form_for @group, class: "new_chat_group", id:"new_chat_group" do |f|
    -if @group.errors.any?
      #error_explanation.alert.alert-danger
        %h2
          =@group.errors.count
          点のエラーが発生しております
        %ul
        - @group.errors.full_messages.each do |message|
          %li= message
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label "グループ名" , class: "chat-group-form__label", for: "chat_group_name"
      .chat-group-form__field--right
        = f.text_field :name, id: "chat_group_name", class: "chat-group-form__input", placeholder: "グループ名を入力してください"
    -# .chat-group-form__field.clearfix
    -#   .chat-group-form__field--left
    -#     %label.chat-group-form__label{:for => "chat_group_チャットメンバーを追加"} チャットメンバーを追加
    -#   .chat-group-form__field--right
    -#     .chat-group-form__search.clearfix
    -#       %input#user-search-field.chat-group-form__input{:placeholder => "追加したいユーザー名を入力してください", :type => "text"}/
    -#     #user-search-result
    -# あとのカリキュラムで実装し直す。
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{:for => "chat_group_チャットメンバー"} チャットメンバー
      .chat-group-form__field--right
        #chat-group-users
          #chat-group-user-22.chat-group-user.clearfix
            %p.chat-group-user__name
              = f.collection_check_boxes(:user_ids, User.all, :id, :nickname)

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "Save",data: { disable_with: "送信中..." }, class: "chat-group-form__action-btn"
